@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Lato:ital,wght@0,400;1,100&display=swap');

body{
    margin: 0;
}
.contact{
    width: auto;
    height: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    background: rgb(26, 121, 31);
    color: #fff;
}
.navbar {
    width: auto;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-bottom: 2px solid gray;
}

.logo{
    width:100px;
    cursor: pointer;
    margin-left: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(12, 12, 12);

}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #0e2c07;
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}
.image-box{
    box-sizing: border-box;
}
.image-box img{
    width: 87.5em;
    height: 300px;
    box-sizing: border-box;
}
.icon{
    display: inline-block;
    width: 90px;
    height: 54px;
    margin-top: 0px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 100px;
    bottom: 0;
    color: green;
    font-family: 'Anek Malayalam', sans-serif;
    text-align: center;
    
  
}